{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <form class="col-10 col-md-4  bg-secondary text-light py-3 rounded" method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
            <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                autofocus>
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

            <button class="btn btn-lg btn-primary mt-2" type="submit">
                {% trans %}Sign in{% endtrans %}
            </button>
        </form>
    </div>
</div>
{% endblock %}