{% extends 'base.html.twig' %}
{% block title %}{% trans %}Administrar{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{% trans %}Administrar{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}Administrar{% endtrans %}</h1>
    <div class="row">
        <a href="{{ path('raza_index') }}" class="btn col-6">{% trans %}raza.plural.may{% endtrans %}</a>
        <a href="{{ path('user_index') }}" class="btn col-6">{% trans %}user.plural.may{% endtrans %}</a>
        <a href="{{ path('uso_comun_index') }}" class="btn col-6">{% trans %}common_use.plural.may{% endtrans %}</a>
        <a href="{{ path('pelaje_index') }}" class="btn col-6">{% trans %}pelaje.plural.may{% endtrans %} </a>
    </div>
</div>
{% endblock %}