#logo {
    height: auto;
    width: 5rem;
}

.navbar-principal {
    background-color: #444 !important;
}
.navbar-principal  #logo {
    background-color: white;
    border-radius:  1rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.portada{
    background-color: #ffede1;
    border-radius: 2rem;
}
.mas-info{
    background-color: #e8f7f7;
    border-radius: 2rem;
}

.portada img {
    height: auto;
    width: 28rem;
}
.thumbnail img{
    width: auto;
    height: 10rem;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .portada img {
        width: 21rem !important;
    }
}