<form method="post" action="{{ path('raza_delete', {'id': raza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ raza.id) }}">
    <button class="btn btn-danger btn-lg">{% trans %}Delete{% endtrans %}</button>
</form>
