{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-10 col-md-4">
        {{ form_label(form.name ) }}
        {{ form_widget(form.name ) }}
    </div>
    <div class="col-10 col-md-4">
        {{ form_label(form.agresividad ) }}
        {{ form_widget(form.agresividad ) }}
    </div>
    <div class="col-10 col-md-4">
        {{ form_label(form.img ) }}
        {{ form_widget(form.img ) }}
    </div>
    <div class="col-10 col-md-4">
        {{ form_label(form.pelaje ) }}
        {{ form_widget(form.pelaje ) }}
    </div>
</div>
<div>
    <h2>{% trans %}lang.plural.may{% endtrans %}</h2>
    <h3>{% trans %}new.male.singular.may{% endtrans %}</h3>
    {{ form_row(form.languages.vars.prototype) }}
    {{form_widget(form.languages)}}
</div>
<div>
    <h3>{% trans %}common_use.plural.may{% endtrans %}</h3>
    {{form_widget(form.usosComunes)}}
</div>
<button class="btn btn-pr">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}