{% extends 'base.html.twig' %}

{% block title %}{% trans %}raza.plural.may{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}raza.plural.may{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">

    <h1>{% trans %}raza.plural.may{% endtrans %}</h1>
    <a href="{{ path('raza_new') }}">{% trans %}create.may{% endtrans %} {% trans %}new.male.singular.min{% endtrans %}</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Agresividad{% endtrans %}</th>
                <th>{% trans %}Img{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for raza in razas %}
            <tr>
                <td>{{ raza.id }}</td>
                <td>{{ raza.name }}</td>
                <td>{{ raza.agresividad }}</td>
                <td>{{ raza.img }}</td>
                <td>
                    <a href="{{ path('raza_show', {'id': raza.id}) }}">{% trans %}show.may{% endtrans %}</a>
                    <a href="{{ path('raza_edit', {'id': raza.id}) }}">{% trans %}edit.may{% endtrans %}</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}