{% extends 'base.html.twig' %}
{% block body %}

<div class="container">

    <div id="raza_destacada" class="jumbotron my-4 row">
        <h2 class="col-12 mb-4">{% trans %}Raza Aleatoria{% endtrans %}</h2>
        <div class="col-10 col-md-4">
            <img class="w-100 h-auto" src="{{destacado.img}}" alt="{{destacado.getLanguageByDefaultIsoCode().name}}">
        </div>
        <div class="col-10 col-md-8">
            <h1 class="display-3">{{destacado.getLanguageByDefaultIsoCode().name}}</h1>
            <p class="lead">{{destacado.getLanguageByDefaultIsoCode().resume}}</p>
            <div class="align-baseline">
                <a href="{{ path('raza', {'id': destacado.id})}}" class="btn btn-primary btn-lg">{% trans %}Ver{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div class="row my-3 justify-content-around justify-content-lg-start">
        {% for raza in razas %}
        {% include "raza/thumbnail.html.twig" with {'raza': raza} %}
        {% endfor %}
    </div>
</div>
{% endblock %}
