{% extends 'base.html.twig' %}

{% block title %}{% trans  %}new.female.singular.may{% endtrans %} {% trans %}raza.singular.min{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item active"><a href="{{ path('raza_index') }}">{% trans %}raza.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}create.may{% endtrans %} {% trans %}raza.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}create.may{% endtrans %} {% trans %}new.female.singular.min{% endtrans %} {% trans %}raza.singular.min{% endtrans %}</h1>

    {{ include('raza/_form.html.twig') }}

</div>
{% endblock %}