{% extends 'base.html.twig' %}

{% block title %}{{raza.getLanguageByDefaultIsoCode().name}}{% endblock %}

{% block body %}

<div class="container mt-3">
    <h1>{{raza.getLanguageByDefaultIsoCode().name}}</h1>
    <div class="row py-3 portada">
        <div class="col-12 col-md-6">
            <img src="{{raza.img}}" alt="{{raza.getLanguageByDefaultIsoCode().name}}">
        </div>
        <div class="col-12 col-md-6 ">
            <div>
                <h3>{% trans %}Descripcion General{% endtrans %}</h3>
                <p>{{raza.getLanguageByDefaultIsoCode().description}}</p>
                <div>
                    <h3>{% trans %}pelaje.singular.may{% endtrans %}</h3>
                    <div>
                        <strong>{% trans %}Grosor{% endtrans %}: </strong><span>{{raza.getPelaje().getLanguageByDefaultIsoCode().grosor}}</span>
                    </div>
                    <div>
                        <strong>{% trans %}Tamaño{% endtrans %}: </strong><span>{{raza.getPelaje().getLanguageByDefaultIsoCode().largaria}}</span>
                    </div>
                    <div>
                        <strong>{% trans %}Cuidados{% endtrans %}: </strong><span>{{raza.getPelaje().getLanguageByDefaultIsoCode().cuidados}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 mas-info">
        <div class="col-10">
            <h3>{% trans %}Comportamiento{% endtrans %}</h3>
            <p>{{raza.getLanguageByDefaultIsoCode().comportamiento}}</p>
            <h3>{% trans %}Cuidados{% endtrans %}</h3>
            <p>{{raza.getLanguageByDefaultIsoCode().cuidados}}</p>
            <h3>{% trans %}Personalidad{% endtrans %}</h3>
            <p>{{raza.getLanguageByDefaultIsoCode().personalidad}}</p>
            <h3>{% trans %}common_use.plural.may{% endtrans %}</h3>
            <ul>
                {% for usoComun in raza.getUsosComunes %}
                <li>{{usoComun.getLangByDefaultIsoCode().name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}