{% extends 'base.html.twig' %}

{% block title %}raza.singular.may{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item active"><a href="{{ path('raza_index') }}">{% trans %}raza.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}show.may{% endtrans %} {% trans %}raza.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}raza.singular.may{% endtrans %}</h1>
    <div>
        <ul class="nav nav-pills mb-3">
            <li class="nav-item mr-2"><a class="btn btn-primary btn-lg" href="{{ path('raza_edit', {'id': raza.id}) }}">{% trans %}edit.may{% endtrans %}</a></li>
            <li class="nav-item"> {{ include('raza/_delete_form.html.twig') }} </li>
        </ul>

    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ raza.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ raza }}</td>
            </tr>
            <tr>
                <th>{% trans %}Agresividad{% endtrans %}</th>
                <td>{{ raza.agresividad }}</td>
            </tr>
            <tr>
                <th>{% trans %}Img{% endtrans %}</th>
                <td>{{ raza.img }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>{% trans %}lang.plural.may{% endtrans %}</h2>
        <ul class="list-group">
            {% for lang in raza.getLanguages() %}
            <li class="list-group-item">
                <div>
                    <h3> {{lang.getLang().getIsoCode()}}</h3>
                    <label><strong>{% trans %}Name{% endtrans %}</strong>: {{lang.getName()}}</label>
                    <p><strong>{% trans %}Resume{% endtrans %}</strong>: {{lang.getResume()}}</p>
                    <p><strong>{% trans %}Description{% endtrans %}</strong>: {{lang.getDescription()}}</p>
                    <p><strong>{% trans %}Comportamiento{% endtrans %}</strong>: {{lang.getComportamiento()}}</p>
                    <p><strong>{% trans %}Cuidados{% endtrans %}</strong>: {{lang.getCuidados()}}</p>
                    <p><strong>{% trans %}Personalidad{% endtrans %}</strong>: {{lang.getPersonalidad()}}</p>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>{% trans %}common_use.plural.may{% endtrans %}</h2>
        <ul class="list-group">
            {% for usoComun in raza.getUsosComunes() %}
            <li class="list-group-item">{{ usoComun.getLangByDefaultIsoCode().getName() }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}