<a class="col-10 col-sm-5 col-md-3 col-lg-2 mb-2 mx-2 border text-reset thumbnail" href="{{ path('raza', {'id': raza.id})}}">
    <img class="img-fluid py-2 rounded" src="{{raza.img}}" alt="{{raza.getLanguageByDefaultIsoCode().name}}">
    <div class="border-top mt-1" >
        <h3>{{raza.getLanguageByDefaultIsoCode().name}}</h3>
        <p>{{raza.getLanguageByDefaultIsoCode().resume}}</p>
    </div>
</a>