<form method="post" action="{{ path('pelaje_delete', {'id': pelaje.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pelaje.id) }}">
    <button class="btn btn-danger btn-lg">{% trans %}Delete{% endtrans %}</button>
</form>
