{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
    <h2 class =" pb-1 border-bottom">{% trans %}lang.plural.may{% endtrans %}</h2>
    <h3>{% trans %}new.male.singular.may{% endtrans %}</h3>
    {{ form_row(form.langs.vars.prototype, {'attr': {'class':"my-2 pb-2 border-bottom"}}) }}
    {{ form_widget(form.langs) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
