{% extends 'base.html.twig' %}

{% block title %}Edit Pelaje{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item" ><a href="{{ path('pelaje_index') }}">{% trans %}pelaje.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}edit.may{% endtrans %} {% trans %}pelaje.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5 pb-3">
    <h1>Edit Pelaje</h1>

    {{ include('pelaje/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('pelaje/_delete_form.html.twig') }}
</div>
{% endblock %}