{% extends 'base.html.twig' %}

{% block title %}{% trans %}new.male.singular.may{% endtrans %} {% trans %}pelaje.singular.min{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item" ><a href="{{ path('pelaje_index') }}">{% trans %}pelaje.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}create.may{% endtrans %} {% trans %}pelaje.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}create.may{% endtrans %} {% trans %}new.male.singular.min{% endtrans %} {% trans %}pelaje.singular.min{% endtrans %}</h1>

    {{ include('pelaje/_form.html.twig') }}

</div>
{% endblock %}
