{% extends 'base.html.twig' %}

{% block title %}Pelaje{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item" ><a href="{{ path('pelaje_index') }}">{% trans %}pelaje.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}show.may{% endtrans %} {% trans %}pelaje.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5 pb-3">
    <h1>{% trans %}pelaje.singular.may{% endtrans %}</h1>
    <div>
        <ul class="nav nav-pills mb-3">
            <li class="nav-item mr-2"><a class="btn btn-primary btn-lg"
                    href="{{ path('pelaje_edit', {'id': pelaje.id}) }}">{% trans %}edit.may{% endtrans %}</a></li>
            <li class="nav-item"> {{ include('pelaje/_delete_form.html.twig') }} </li>
        </ul>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pelaje.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ pelaje.name }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>{% trans %}lang.plural.may{% endtrans %}</h2>
        <ul class="list-group">
            {% for lang in pelaje.getLangs() %}
                <li class="list-group-item">
                    <div>
                        <h3> {{lang.getLang().getIsoCode()}}</h3>
                        <label><strong>{% trans %}Grosor{% endtrans %}</strong>: {{lang.getGrosor()}}</label>
                        <p><strong>{% trans %}Tamaño{% endtrans %}</strong>: {{lang.getLargaria()}}</p>
                        <p><strong>{% trans %}Cuidados{% endtrans %}</strong>: {{lang.getCuidados()}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}