<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <title>{% block title %}Wiki Race{% endblock %}</title>
    <link href="/css/estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-principal navbar-expand-lg navbar-dark text-light">
        <a class="navbar-brand" href="{{path('inicio')}}"><img  id="logo" src="/favicon.png">WikiRace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item nav-link" href="{{path('admin')}}">{% trans %}Administrar{% endtrans %}</a>
            {% endif %}
          </div>
          <div >
            {% if is_granted('ROLE_USER') %}
              <span>{% trans %}Hi{% endtrans %} {{ app.user.name }}</span>
              <a class="btn btn-outline-light" href="{{path('logout')}}">{% trans %}Logout{% endtrans %}</a>
            {% else %}
              <a class="btn btn-light" href="{{path('login')}}">{% trans %}Sign in{% endtrans %}</a>
              <a class="btn btn-light" href="{{path('register')}}">{% trans %}Sign up{% endtrans %}</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <footer class=" py-5 bg-secondary container-fluid">
      <div class="row">
        <div class="col-12 text-center text-light">
          <p>{% trans %}Proyecto de fin de  grado para DAW en CIP FP batoi{% endtrans %}</p>
          <p>{% trans %}Creado por David Gonzalez Argueta{% endtrans %}</p>
        </div>
      </div>
    </footer>

    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
