<form method="post" action="{{ path('uso_comun_delete', {'id': uso_comun.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uso_comun.id) }}">
    <button class="btn btn-danger btn-lg">{% trans %}Delete{% endtrans %}</button>
</form>
