{% extends 'base.html.twig' %}

{% block title %}{% trans %}common_use.plural.may{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}common_use.plural.may{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}common_use.plural.may{% endtrans %}</h1>
    <a href="{{ path('uso_comun_new') }}">{% trans %}create.may{% endtrans %} {% trans %}new.male.singular.min{% endtrans %}</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for uso_comun in uso_comuns %}
            <tr>
                <td>{{ uso_comun.id }}</td>
                <td>{{ uso_comun.name }}</td>
                <td>
                    <a href="{{ path('uso_comun_show', {'id': uso_comun.id}) }}">{% trans %}show.may{% endtrans %}</a>
                    <a href="{{ path('uso_comun_edit', {'id': uso_comun.id}) }}">{% trans %}edit.may{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
