{% extends 'base.html.twig' %}

{% block title %}{% trans %}new.male.singular.may{% endtrans %} {% trans %}common_use.singular.min{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('uso_comun_index') }}">{% trans %}common_use.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}new.male.singular.may{% endtrans %} {% trans %}common_use.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">

    <h1>{% trans %}create.may{% endtrans %} {% trans %}new.male.singular.min{% endtrans %} {% trans %}common_use.singular.min{% endtrans %}</h1>

    {{ include('uso_comun/_form.html.twig') }}

</div>
{% endblock %}