{% extends 'base.html.twig' %}

{% block title %}{% trans %}common_use.singular.may{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('uso_comun_index') }}">{% trans %}common_use.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}show.may{% endtrans %} {% trans %}common_use.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}common_use.singular.may{% endtrans %}</h1>
    <div>
        <ul class="nav nav-pills mb-3">
            <li class="nav-item mr-2"><a class="btn btn-primary btn-lg"
                    href="{{ path('uso_comun_edit', {'id': uso_comun.id}) }}">{% trans %}edit.may{% endtrans %}</a></li>
            <li class="nav-item">{{ include('uso_comun/_delete_form.html.twig') }} </li>
        </ul>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uso_comun.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ uso_comun.name }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>{% trans %}lang.plural.may{% endtrans %}</h2>
        <ul class="list-group">
            {% for lang in uso_comun.getLangs() %}
            <li class="list-group-item">
                <div>
                    <h3> {{lang.getLang().getIsoCode()}}</h3>
                    <label><strong>{% trans %}Name{% endtrans %}</strong>: {{lang.getName()}}</label>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
