{% extends 'base.html.twig' %}

{% block title %}{% trans %}edit.may{% endtrans %} {% trans %}user.singular.min{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('user_index') }}">{% trans %}user.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}edit.may{% endtrans %} {% trans %}user.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}edit.may{% endtrans %} {% trans %}user.singular.min{% endtrans %}</h1>
    
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="mt-1">
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
