{% extends 'base.html.twig' %}

{% block title %}{% trans %}user.plural.may{% endtrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}user.plural.may{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}user.plural.may{% endtrans %}</h1>
    <a href="{{ path('user_new') }}">{% trans %}create.may{% endtrans %} {% trans %}new.male.singular.min{% endtrans %}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Roles{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{% trans %}show.may{% endtrans %}</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit.may{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
