{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sign up{% endtrans %}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center ">
        <div class="col-10 col-md-5 bg-secondary text-light py-3 rounded" >
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}