{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  href="{{ path('admin') }}">{% trans %}Administrar{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('user_index') }}">{% trans %}user.plural.may{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}show.may{% endtrans %} {% trans %}user.singular.min{% endtrans %}</li>
    </ol>
</nav>
<div class="container my-5">
    <h1>{% trans %}user.singular.may{% endtrans %}</h1>
    <ul class="nav nav-pills mb-3">
        <li class="nav-item mr-2"><a class="btn btn-primary btn-lg" href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit.may{% endtrans %}</a></li>
        <li class="nav-item"> {{ include('user/_delete_form.html.twig') }}</li>
    </ul>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Roles{% endtrans %}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>


</div>
{% endblock %}